@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --logoBlue: #0093d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-blue: var(--logoBlue);

}

@media (min-width: 300px) and (max-width: 600px) {
  .heroImage {
    height: 15rem !important
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heroImage {
  background-image: url('/images/hero2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
}